@model Mission08_Team0101.Models.Task

@{

    ViewData["Title"] = "ToDo Item";
    ViewData["Background"] = "/image/bg-masthead.jpg";
}


<h1 class="mb-1">Add a ToDo Item</h1>
<h3 class="mb-5"><em>What do you need to do?</em></h3>
<form method="post">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="hidden" asp-for="TaskId" />
                    <label asp-for="TaskName">Task:</label><br>
                    <input asp-for="TaskName" type="text" id="TaskName" name="TaskName" required><br>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="Date">Due Date:</label><br>
                    <input asp-for="Date" type="date" id="Date" name="Date"><br>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="Quadrant">Quadrant:</label><br>
                    <select asp-for="Quadrant" type="text" id="Quadrant" name="Quadrant" required>
                        <option value="">Please Select a Quadrant</option>
                        <option value="1">Urgent & Important</option>
                        <option value="2">Not Urgent but Important</option>
                        <option value="3">Not Important but Urgent</option>
                        <option value="4">Not Important or Ugrent</option>
                    </select>
                    <br>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="CategoryId">Category:</label><br>
                    <select asp-for="CategoryId" id="CategoryId" name="CategoryId">
                        <option value="">Please Select a Category</option>
                        @foreach (var item in ViewBag.categories)
                        {
                            <option value="@item.CategoryId">@item.CategoryName</option>
                        }
                    </select><br>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="IsCompleted">Completed:</label><br>
                    <input asp-for="IsCompleted" type="checkbox" id="IsCompleted" name="IsCompleted">
                    <label asp-for="IsCompleted">Yes</label><br>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
</form>
