@{
    ViewData["Title"] = "Home - Putting Things First";
    ViewData["Background"] = "bg-masthead.jpg";
}

<h1 class="mb-1">Put First Things First</h1>
<h3 class="mb-5"><em>A Helpful ToDo Tracking App</em></h3>
<a class="btn btn-primary btn-xl" asp-action="AddToDo">Add a ToDo</a>
<a class="btn btn-primary btn-xl" asp-action="CurrentToDo">Current ToDo List</a>
