@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Current ToDo List";
    ViewData["Background"] = "/image/bg-callout.jpg";
}
@model List<Mission08_Team0101.Models.Task>

<div class="container">
    <div class="row">
        <div class="col">
            <h3>Time Management Matrix</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th style ="width: 10%"></th>
                        <th>Urgent</th>
                        <th>Not Urgent</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Important</th>
                        <!-- Quadrant 1: Urgent & Important -->
                        <td>
                            <table style="text-align: center;">
                                @foreach (var task in Model.Where(t => t.Quadrant == "Quadrant 1"))
                                {
                                    <tr>
                                        <td style="text-align: center;">@task.TaskName</td>
                                        <td>
                                            <button class="btn btn-sm btn-primary" type="button">Edit</button>
                                            <button class="btn btn-sm btn-danger" type="button">Delete</button>
                                        </td>
                                    </tr>
                                    <tr><td colspan="2"></td></tr>
                                }
                            </table>
                        </td>
                        <!-- Quadrant 2: Not Urgent & Important -->
                        <td>
                            <table style="text-align: center;">
                                @foreach (var task in Model.Where(t => t.Quadrant == "Quadrant 2"))
                                {
                                    <tr>
                                        <td style="text-align: center;">@task.TaskName</td>
                                        <td>
                                            <button class="btn btn-sm btn-primary" type="button">Edit</button>
                                            <button class="btn btn-sm btn-danger" type="button">Delete</button>
                                        </td>
                                    </tr>
                                    <tr><td colspan="2"></td></tr>
                                }
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <th>Not Important</th>
                        <!-- Quadrant 3: Urgent & Not Important -->
                        <td>
                            <table style="text-align: center;">
                                @foreach (var task in Model.Where(t => t.Quadrant == "Quadrant 3"))
                                {
                                    <tr>
                                        <td style="text-align: center;">@task.TaskName</td>
                                        <td>
                                            <button class="btn btn-sm btn-primary" type="button">Edit</button>
                                            <button class="btn btn-sm btn-danger" type="button">Delete</button>
                                        </td>
                                    </tr>
                                    <tr><td colspan="2"></td></tr>
                                }
                            </table>
                        </td>
                        <!-- Quadrant 4: Not Urgent & Not Important -->
                        <td>
                            <table style="text-align: center;">
                                @foreach (var task in Model.Where(t => t.Quadrant == "Quadrant 4"))
                                {
                                    <tr>
                                        <td style="text-align: center;">@task.TaskName</td>
                                        <td>
                                            <button class="btn btn-sm btn-primary" type="button">Edit</button>
                                            <button class="btn btn-sm btn-danger" type="button">Delete</button>
                                        </td>
                                    </tr>
                                    <tr><td colspan="2"></td></tr>
                                }
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
